# REQUIREMENTS FOR CONDA INSTALLATION

# INSTALLATION REQUIRED DEPENDENCIES
cma
descartes
h5py
matplotlib <2
numpy
pandas
polite >=0.9
pyopengl
pyqt <5
scikit-learn
scipy
setuptools
shapely

# TEST DEPENDENCIES
pytest-cov
