# REQUIREMENTS FOR CONDA INSTALLATION

# INSTALLATION REQUIRED DEPENDENCIES
cma
descartes
h5py
matplotlib
numpy
pandas
polite >=0.9
pyopengl
pyqt =4.11.4
scikit-learn
scipy
shapely

# TEST DEPENDENCIES
pytest-cov
